# GitHub Container Registry
GHCR_OWNER=your-github-org-or-user

# Application
SPRING_PROFILES_ACTIVE=prod

# Database
DB_URL=jdbc:postgresql://<host>:5432/acueducto_hato
DB_USERNAME=<usuario>
DB_PASSWORD=<password>
